/*sys icon style*/
.icon_1{background:url('images/icons/icon_1.png') no-repeat center center;}
.icon_2{background:url('images/icons/icon_2.png') no-repeat center center;}
.icon_3{background:url('images/icons/icon_3.png') no-repeat center center;}
.icon_4{background:url('images/icons/icon_4.png') no-repeat center center;}
.icon_5{background:url('images/icons/icon_5.png') no-repeat center center;}
.icon_6{background:url('images/icons/icon_6.png') no-repeat center center;}
.icon_11{background:url('images/icons/icon_11.png') no-repeat center center;}
.icon_12{background:url('images/icons/icon_12.png') no-repeat center center;}
.icon_29{background:url('images/icons/icon_29.png') no-repeat center center;}
.icon_30{background:url('images/icons/icon_30.png') no-repeat center center;}
.icon_32{background:url('images/icons/icon_32.png') no-repeat center center;}
.icon_33{background:url('images/icons/icon_33.png') no-repeat center center;}
.icon_34{background:url('images/icons/icon_34.png') no-repeat center center;}
.icon_35{background:url('images/icons/icon_35.png') no-repeat center center;}
.icon_36{background:url('images/icons/icon_36.png') no-repeat center center;}
.icon_39{background:url('images/icons/icon_39.png') no-repeat center center;}
.icon_40{background:url('images/icons/icon_40.png') no-repeat center center;}
.icon_41{background:url('images/icons/icon_41.png') no-repeat center center;}
.icon_43{background:url('images/icons/icon_43.png') no-repeat center center;}
.icon_44{background:url('images/icons/icon_44.png') no-repeat center center;}
.icon_45{background:url('images/icons/icon_45.png') no-repeat center center;}
.icon_51{background:url('images/icons/icon_51.png') no-repeat center center;}
.icon_53{background:url('images/icons/icon_53.png') no-repeat center center;}
.icon_52{background:url('images/icons/icon_52.png') no-repeat center center;}
.icon_59{background:url('images/icons/icon_59.png') no-repeat center center;}
.icon_60{background:url('images/icons/icon_60.png') no-repeat center center;}
.icon_61{background:url('images/icons/icon_61.png') no-repeat center center;}
.icon_64{background:url('images/icons/icon_64.png') no-repeat center center;}
.icon_69{background:url('images/icons/icon_69.png') no-repeat center center;}
.icon_70{background:url('images/icons/icon_70.png') no-repeat center center;}
.icon_71{background:url('images/icons/icon_71.png') no-repeat center center;}
.icon_72{background:url('images/icons/icon_72.png') no-repeat center center;}
/*custom icon style*/
.icon_13{background:url('images/icons/icon_13.png') no-repeat center center;}
.icon_20{background:url('images/icons/icon_20.png') no-repeat center center;}
.icon_23{background:url('images/icons/icon_23.png') no-repeat center center;}
.icon_28{background:url('images/icons/icon_28.png') no-repeat center center;}
.icon_7{background:url('images/icons/icon_7.png') no-repeat center center;}
.icon_8{background:url('images/icons/icon_8.png') no-repeat center center;}
.icon_15{background:url('images/icons/icon_15.png') no-repeat center center;}
.icon_21{background:url('images/icons/icon_21.png') no-repeat center center;}
.icon_22{background:url('images/icons/icon_22.png') no-repeat center center;}
.icon_24{background:url('images/icons/icon_24.png') no-repeat center center;}

.icon_27{background:url('images/icons/icon_27.png') no-repeat center center;}
.icon_26{background:url('images/icons/icon_26.png') no-repeat center center;}

.icon_94{background:url('images/icons/icon_94.png') no-repeat center center;}
.icon_95{background:url('images/icons/icon_95.png') no-repeat center center;}
.icon_107{background:url('images/icons/icon_107.png') no-repeat center center;}
.icon_184{background:url('images/icons/icon_184.png') no-repeat center center;}
.icon_17{background:url('images/icons/icon_17.png') no-repeat center center;}

.icon_10{background:url('images/icons/icon_10.png') no-repeat center center;}
.icon_14{background:url('images/icons/icon_14.png') no-repeat center center;}
.icon_16{background:url('images/icons/icon_16.png') no-repeat center center;}
.icon_18{background:url('images/icons/icon_18.png') no-repeat center center;}
.icon_19{background:url('images/icons/icon_19.png') no-repeat center center;}
.icon_76{background:url('images/icons/icon_76.png') no-repeat center center;}
.icon_77{background:url('images/icons/icon_77.png') no-repeat center center;}
.icon_79{background:url('images/icons/icon_79.png') no-repeat center center;}
.icon_88{background:url('images/icons/icon_88.png') no-repeat center center;}
.icon_161{background:url('images/icons/icon_161.png') no-repeat center center;}
.icon_162{background:url('images/icons/icon_162.png') no-repeat center center;}
.icon_163{background:url('images/icons/icon_163.png') no-repeat center center;}
.icon_188{background:url('images/icons/icon_188.png') no-repeat center center;}
.icon_189{background:url('images/icons/icon_189.png') no-repeat center center;}
.icon_190{background:url('images/icons/icon_190.png') no-repeat center center;}
.icon_197{background:url('images/icons/icon_197.png') no-repeat center center;}
.icon_198{background:url('images/icons/icon_198.png') no-repeat center center;}
.icon_199{background:url('images/icons/icon_199.png') no-repeat center center;}
.icon_114{background:url('images/icons/icon_114.png') no-repeat center center;}
.icon_113{background:url('images/icons/icon_113.png') no-repeat center center;}
.icon_110{background:url('images/icons/icon_110.png') no-repeat center center;}
.icon_104{background:url('images/icons/icon_104.png') no-repeat center center;}
.icon_111{background:url('images/icons/icon_111.png') no-repeat center center;}
.icon_112{background:url('images/icons/icon_112.png') no-repeat center center;}
.icon_115{background:url('images/icons/icon_115.png') no-repeat center center;}
.icon_116{background:url('images/icons/icon_116.png') no-repeat center center;}
.icon_117{background:url('images/icons/icon_117.png') no-repeat center center;}
.icon_203{background:url('images/icons/icon_203.png') no-repeat center center;}
.icon_209{background:url('images/icons/icon_209.png') no-repeat center center;}
.icon_92{background:url('images/icons/icon_92.png') no-repeat center center;}
.icon_229{background:url('images/icons/icon_229.png') no-repeat center center;}
.icon_225{background:url('images/icons/icon_225.png') no-repeat center center;}
.icon_226{background:url('images/icons/icon_226.png') no-repeat center center;}
.icon_227{background:url('images/icons/icon_227.png') no-repeat center center;}
.icon_222{background:url('images/icons/icon_222.png') no-repeat center center;}

.icon_244{background:url('images/icons/icon_244.png') no-repeat center center;}
.icon_245{background:url('images/icons/icon_245.png') no-repeat center center;}
.icon_246{background:url('images/icons/icon_246.png') no-repeat center center;}
.icon_247{background:url('images/icons/icon_247.png') no-repeat center center;}
.icon_248{background:url('images/icons/icon_248.png') no-repeat center center;}
.icon_249{background:url('images/icons/icon_249.png') no-repeat center center;}
.icon_250{background:url('images/icons/icon_250.png') no-repeat center center;}
.icon_251{background:url('images/icons/icon_251.png') no-repeat center center;}
.icon_252{background:url('images/icons/icon_252.png') no-repeat center center;}

.icon_254{background:url('images/icons/icon_254.png') no-repeat center center;}
